html, body {
  max-width: 100%;
  overflow-x: hidden;
}

div.valor i,.valor h4.list-group-item-heading {
  color: #f71208;
}

div.mystic i,.mystic h4.list-group-item-heading {
  color:#0076f3;
}

div.instinct i,.instinct h4.list-group-item-heading {
  color:#ffd200;
}
