.pokedex-col {
  min-width: 110px !important;
  border: 1px solid #9a9a9a;
  margin: 1px;
  background-color: #ffe0e01a;
}

div.pokedex-col:hover {
  background-color: #48464e29;
}

.pokedex-row {
  border: 1px solid #9a9a9a;
}
