@media only screen and (max-width: 560px) {
  tr {
    font-size: 12px !important;
  }
}

.table {
  text-align: center;
  width: 100% !important;
}

td, th {
  vertical-align: middle !important;
  font-weight: 700;
}

.tableIcon {
  height: 60px;
}
